html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
   
    border: 2px solid black;
  }
  .titleText{
height: 100px;
width: 85%;
  }

  .inputbox
{
width :100;
height:50;
border-radius: 30;
border-width: 2;
font-size: 22;
}

.button{
  width:100;
  height: 50;
  border-radius: 30px;
  background-color: aquamarine;
}

  
  